<h2>Create product</h2>
<div class="addProduct">
    <div class="principaleInfo">
        <div class="productInfo">
            <div class="header">
                <h4>Product Information</h4>
            </div>
            <div class="body">
                <div class="input_container">
                    <label for="productTitle">Product title</label>
                    <input class='productTitle' name="productTitle" type="text" placeholder="Product title">
                </div>
                <div class="input_container">
                    <h5>Slug</h5>
                    <div class="slug">
                        <label for="slug"><%= data.host %>product/</label>
                        <input id="slugInput" class='productTitle ' name="slug" type="text" placeholder="Slug">
                    </div>
                </div>


                <div class="editorContainer">
                    <label for="editor">Product description</label>
                    <div id="editor"></div>
                </div>

                <div class="status">
                    <label for="categorie">Categorie</label>
                    <select class="input-wrapper" name="categorie">
                        <% data.categorie.forEach(categorie => { %>
                        <option value="<%= categorie._id %>"><%= categorie.categorieName %></option>
                        <% }); %>
                    </select>
                    <a href="/dashboard/createCategorie" target="_blank" class="button">Add new</a>

                </div>

            </div>

        </div>
        <div class="productInfo">
            <div class="header">
                <h4>Product Gallery</h4>
            </div>
            <div class="body">
                <div id="myDropzone" class="dropzone">
                    <div class="dz-message">
                        <span class="material-symbols-outlined">
                            cloud_upload
                        </span>

                        <h5>Drop files here or click to upload.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="productInfo">
            <div class="header">
                <h4>General Information</h4>
            </div>
            <div class="body">
                <div class="generalInfo">
                    
                    <div class="input_container inputVariation">
                        <label for="price">Price (<%= data.device %>)</label>
                        <input type="text" name="price" placeholder="price <%= data.device %>">
                    </div>
                    <div class="input_container inputVariation">
                        <label for="discount">Discount (%)</label>
                        <input type="text" name="discount" placeholder="discount">
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="productInfo">
            <div class="header">
                <h4>Variation</h4>
                <p>(to delete a variation click on it)</p>
            </div>
            <div class="body">
                <div class="variation">

                    <div class="variationContainer">
                        <div class="input_container">
                            <label for="size">Size (click enter to add)</label>
                            <input type="text" id="size" name="size" class="variableInput" placeholder="size">
                        </div>
                        <div id="sizeValue" class="variationList">
                        </div>

                    </div>
                </div>
                <div class="variationGenerate">
                    <header>
                        <h4>variation prices </h4>
                        <p>(if you do not indicate any price in the variants the main price will be taken care of)</p>
                    </header>

                </div>
            </div>
            <div class="footer">
                <button class="btn btn-outline-primary" id="generateVariation">Generate</button>
            </div>
        </div>

    </div>
    <div class="productPublie">
        <div class="publish">
            <div class="publishTitle">

                <h5>Publish</h5>
            </div>
            <div class="publishStatus">
                <div class="status">
                    <label for="status">Status</label>
                    <select class="input-wrapper" name="status">
                        <option value="publish">Publish</option>
                        <option value="draft">Draft</option>
                        <option value="scheduled">Scheduled</option>
                    </select>
                </div>
                <div class="status">
                    <label for="visibility">Visibility</label>

                    <select class="input-wrapper" name="visibility">
                        <option value="public">Public</option>
                        <option value="hidden">Hidden</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="publish">
            <div class="publishTitle">
                <h5>
                    Publish Schedule
                </h5>
            </div>
            <div class="status">
                <label for="datePicker">Publish Date & Time</label>
                <input class="input-wrapper" type="text" id="datetimePicker" placeholder="Select date and time">
            </div>
        </div>
        <div class="publish">
            <div class="publishTitle">
                <h5>
                    Meta
                </h5>
            </div>
            <div class="input_container status">
                <label for="datePicker">Meta title</label>
                <input class="input-wrapper" type="text" name="metaTitle" placeholder="Insert meta title">
            </div>
            <div class="input_container status">
                <label for="datePicker">Meta description</label>
                <input class="input-wrapper" name="metDescription" type="text" placeholder="Insert meta description">
            </div>
        </div>

    </div>
    <div class="submit">
        <button class="btn btn-outline-primary  mt-3 col-4" id="submit">Submit</button>
    </div>

</div>