<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <%- include(linkBody) %>

        <% if (typeof link !== 'undefined') { %>
        <%- include(link) %>

        <% } %>

        <%- include(scriptBody) %>
        <% if (typeof script !== 'undefined') { %>
          <%- include(script) %>
        <% } %>


    </head>

    <body class="dark">
        <header>
            <%- include(sidebar) %>
        </header>
        <main>
            <%- include(components) %>
        </main>

    </body>

</html>