<div class="comparChart">
    <%- include(salesAndReafund) %>
    <%- include(SalesAndvisits) %>
    <%- include(traffic) %>
</div>
<div class="chartAnalytics">
    <%- include(ordersAndVisits) %>
    <%- include(earning) %>
</div>