<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Quantité</th>
            <th>Date</th>
            <th>Prix Payé</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(function(order) { %>
        <tr class="selectionable">
            <td><img src="<%= order.image %>" alt="Image"></td>
            <td><%= order.titre %></td>
            <td><%= order.quantite %></td>
            <td><%= order.date %></td>
            <td><%= order.prix %></td>
            <td><%= order.statut %></td>
        </tr>
        <% }); %>
    </tbody>
    <tfoot></tfoot>
</table>